.card p{
    margin: 0;
}

.btn:focus{
    outline: none;
    box-shadow: none;
}

.correct{
    background-color: rgb(2, 96, 2);
    color: white;
    outline: none;
}

.wrong{
    background-color: rgb(154, 7, 7);
    color: white;
}