<div class="backdrop"></div>
<div class="start-info d-flex align-items-center justify-content-center col-md-6 col-12">
    <div class="card bg-transparent border border-0 p-3" *ngIf="!timeFinished, else result">
        <div class="card-title text-center fs-2">
            Quiz rules
        </div>
        <ul class="list-unstyled lead">
                <li>You have {{qsInfo.questions}} Questions to attempt </li>
                <li> Total duration : <strong>  {{qsInfo.totalTime}}  </strong></li>
                <li> For Correct answer 1 point for each. No negetive point for wrong answer.</li>
                <li>Start when you are ready!</li>
        </ul>
        <button class="btn btn-primary w-50 mx-auto" (click)="startQuiz()">Start Quiz</button>
    </div>
</div>
<ng-template #result>
    <div class="result border border-0 rounded text-center">
        <h5 class="display-6 ">Check Your Score</h5>
        <p class="">
            You have answered {{correctAns$ | async}} question correctly.
        </p>
        <p class="lead">
            Your Score : {{correctAns$ | async}}/{{totalNumQs}}
        </p>
        <button class="btn btn-danger mx-auto" [routerLink]="['/']"> Exit Quiz </button>
    </div>
</ng-template>


